<section id="search-container">
	<div class="row" id="search-list">
		<input type="search" class="search" placeholder="Search"></input>
		<div class="row">
			<h5>Recent Places</h5>
			<ul class="list">
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
				<li>
					<%- partial("_card") -%>
				</li>
			</ul>
			<h6 class="no-matches">No Matches Found !</h6>
		</div>

	</div>
</section>